* {
    box-sizing: border-box;
}

html {
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
    font-size: 20px;
    color: rgb(57, 229, 245);
}

.sticky__wrapper {
    position: relative;
}

.sticky {
    position: sticky;
    width: 30px;
    height: 30px;
    bottom: 5%;
    left: 96%;

    a {
        color: #008484;
        text-decoration: none;
        font-size: 24px;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a3a1a1;
    height: 70px;
    padding: 20px 50px;
    align-content: center;
}

.heaader__wrapper {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #ffff;
    text-transform: uppercase;
}

.main__title {
    margin-top: 100px;
    text-align: center;

}

.display {
    margin-top: 30px;
}

.div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: blanchedalmond;
}

.display__inline-block {
    margin-top: 20px;

    div {
        display: inline-block;
    }
}

.display__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 20px 40px;

    div {
        width: 100px;
        height: 100px;
    }
}

.promo {
    margin-top: 30px;

    h1 {
        color: #008484;
        font-size: 32px;
    }
}

.part1 {
    h2 {
        font-size: 24px;
        color: #008484;
    }

    p {
        font-size: 20px;
    }

    img {
        height: 300px;
        width: 300px;
    }

    .left {
        float: left;
        margin: 20px 20px 20px 0
    }

    .right {
        float: right;
        margin: 20px 0px 20px 20px
    }
}

.overflow {
    margin-top: 100px;
    background-color: #a3a1a1;
    min-height: 800px;

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 50px;
    }
}

.overflow__wrapper {
    width: 300px;
    text-align: center;
}

.overflow__box {
    max-width: 300px;
    max-height: 300px;
    background-color: darkslategray;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    line-height: 114%;
}


.scrole {
    overflow: scroll;
}

.auto {
    overflow: auto;
}

.x {
    overflow-x: scroll;
}

.y {
    overflow-y: scroll;
}